:root {
  font:
    normal 1em/1 "Lexend",
    serif;

  color: black;

  --siteBG: rgb(224, 231, 239);
  --siteWidth: 1200px;

  --mainBG: white;

  --titleFont: bold 4em/1 "Kameron", sans-serif;
  --titleFontCol: white;

  --navFontColActive: rgb(255, 255, 255);
  --navFontCol: rgb(235, 247, 255);
  --navFontColCurrent: #2d789e;
  --navBG: #003366;
  --navHighBG: #ffffff69;

  --headerBG: white;

  --highlight: #00eeff1e;
}

.darkmode {
  --navcol: rgb(98, 0, 128);

  color: #f8f8f2;

  --siteBG: #282a36;
  --mainBG: #44475a;
  --titleFontCol: black;

  --navFontColActive: rgb(255, 255, 255);
  --navFontCol: rgb(235, 247, 255);
  --navFontColCurrent: #2d789e;
  --navBG: #003366;
  --navHighBG: #ffffff69;

  --headerBG: #44475a;
  --highlight: #00eeff1e;
}

/* #region groundwork */
/* settings to make things usable */

html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100%;
  scroll-behavior: smooth;
}
html p,
html br {
  /* line-height: normal; */
  line-height: 1.5rem;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-block: 0;
  margin: 0;
  padding-inline: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

label {
  display: block;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

li > a {
  text-decoration: none;
}

/* #endregion -groundwork*/
/* #region generell*/

body {
  min-height: 100vh;
}

* {
  overflow: visible;
}

p {
  padding: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5 {
  font: var(--titleFont, bold 2em/1 serif);
}

/* #endregion generell*/
/* #region layout*/

body {
  display: grid;
  grid-template:
    "gridHeader gridHeader gridHeader" max-content
    "gridNav gridNav gridNav" max-content
    ". gridContent ." 1fr
    "gridFooter gridFooter gridFooter" max-content / 1fr var(--siteWidth) 1fr;

  background: var(--siteBG, lightgray);
}
.gridHeader {
  grid-area: gridHeader;
}
.gridNav {
  grid-area: gridNav;
}
.gridContent {
  grid-area: gridContent;
}
.gridFooter {
  grid-area: gridFooter;
}

/* #endregion layout*/
/* #region Site Header*/

body > header {
}
#title {
  color: var(--titleFontCol, black);
  padding: 1rem;
  background: var(--headerBG);
}
#title img {
  max-height: 15vh;
  width: auto;
  aspect-ratio: 1;
  position: relative;
}
/* #endregion -Header*/
/* #region hero*/

.hero {
  height: 40vh;
  background:
    linear-gradient(rgba(0, 51, 102, 0.7), rgba(0, 51, 102, 0.7)),
    url("content/A4\ Original\ Scaled.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;

  color: white;
}
.hero .heroHeading {
  font-size: 3em;
  font: var(--titleFont);
}
.hero .heroHeading + p {
  font-size: 1.5em;
}

/* #endregion hero*/
/* #region Navigation*/

nav {
  background: var(--navBG);
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: left;
  list-style: none;
}
nav a {
  display: block;
  color: var(--navFontCol);
  padding: 1em;
  font-weight: bold;
  transition: 0.3s;
  width: 10em;
  text-align: left;
}
nav a.active {
  color: var(--navFontColActive);
  background: var(--navFontColCurrent);
}
nav a:hover {
  background: var(--navHighBG);
}

#theme-toggle {
  aspect-ratio: 1 / 1;
  font-size: 2em;
  background-color: var(--navFontColCurrent);
  border: 0;
  border-radius: 0.4em;
}

/* #endregion -Navigation*/
/* #region Main*/

main {
  display: flex;
  flex-direction: column;
  --padding: 3em;
  gap: var(--padding);
  padding: var(--padding) 0em;
}

main > * {
  border-radius: 10px;
}

main section {
  background: var(--mainBG);
}

/* #endregion -Main*/
/* #region section*/

section {
  padding: 1.2em;
  padding-bottom: 3em;
}
/* section > * + * {
  margin-top: 1rem;
} */
section > :not(header) {
  margin-left: 1.5em;
}

section h2 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

section img {
  max-height: 50vh;
  width: auto;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  align-content: stretch;
  /* justify-content: space-between; */ /*original*/
  justify-content: flex-start;
  align-items: stretch;
}

section .flexy {
  display: flex;
  flex-flow: row;
}

section ul {
  background-color: var(--highlight);
  width: fit-content;
  padding: 1em;
  border-radius: 15px;
}
section li {
  padding: 0.5em 0;
  padding-left: 1em;
  list-style-type: disc;
  list-style-position: inside;
}

section div {
  padding: 0.5em 0;
}

/* #endregion section*/
/* #region Footer*/

footer {
  background-color: #333;
  color: white;
  text-align: center;
  display: block;
}

/* #endregion -Footzer*/

.selectAll {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.btn {
  font-size: 1.2em;
  display: block;
  background: var(--navBG);
  color: white;
  padding: 0.7em 1.4em;
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
}
