:root {
  font: ;
}

/* #region -groundwork */

html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100%;
  scroll-behavior: smooth;
}
html p,
html br {
  /* line-height: normal; */
  line-height: 1.5rem;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-block: 0;
  margin: 0;
  padding-inline: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background: var(--colBG);
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
}

img {
  width: 100%;
  height: auto;
  display: block;
}

label {
  display: block;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

/* #endregion -groundwork*/
